<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowEDGEEditing</key>
	<true/>
	<key>apns</key>
	<array>
		<dict>
			<key>apn</key>
			<string>gprs.swisscom.ch</string>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
			<key>type-mask</key>
			<integer>-2</integer>
		</dict>
		<dict>
			<key>apn</key>
			<string></string>
			<key>password</key>
			<string></string>
			<key>username</key>
			<string></string>
		</dict>
		<dict>
			<key>apn</key>
			<string>internet</string>
			<key>password</key>
			<string>password</string>
			<key>username</key>
			<string>iphone</string>
		</dict>
	</array>
	<key>BookmarkURLs</key>
	<array>
		<dict>
			<key>BookmarkName</key>
			<string>Swisscom</string>
			<key>BookmarkURL</key>
			<string>http://iphone.swisscom.ch</string>
		</dict>
	</array>
	<key>CarrierName</key>
	<string>Swisscom</string>
	<key>IntlDataRoamingSwitch</key>
	<true/>
	<key>MyAccountURL</key>
	<string>http://iphone.swisscom.ch</string>
	<key>MyAccountURLTitle</key>
	<string>Swisscom</string>
	<key>ShowCallForwarded</key>
	<false/>
	<key>ShowCallForwarding</key>
	<false/>
	<key>ShowDialAssist</key>
	<false/>
	<key>ShowTTY</key>
	<false/>
	<key>StockSymboli</key>
	<array>
		<dict>
			<key>symbol</key>
			<string>^SSMI</string>
			<key>name</key>
			<string>SMI</string>
		</dict>
		<dict>
			<key>symbol</key>
			<string>SCMN.VX</string>
			<key>name</key>
			<string>Swisscom N</string>
		</dict>
	</array>
	<key>SupportedSIMs</key>
	<array>
		<string>22801</string>
	</array>
	<key>SupportsNITZ</key>
	<false/>
	<key>SupportsUserBusyCauseCode</key>
	<true/>
	<key>VisualVoicemailServiceName</key>
	<string>IMAP</string>
	<key>com.apple.voicemail.imap</key>
	<dict>
		<key>BeaconAddress</key>
		<string>30047</string>
		<key>AuthenticationScheme</key>
		<string>DIGEST-MD5</string>
		<key>BeaconServiceCenter</key>
		<string>+41794999000</string>
		<key>UsesMWI</key>
		<false/>
		<key>MaxGreetingDuration</key>
		<integer>60</integer>
		<key>MinPINLength</key>
		<integer>4</integer>
		<key>MaxPINLength</key>
		<integer>6</integer>
		<key>ClientManagesTrash</key>
		<false/>
		<key>GreetingNotification</key>
		<true/>
		<key>DeliverLegacyNotificationsBeforeSetup</key>
		<true/>
	</dict>
	<key>voicemail_context</key>
	<integer>0</integer>
	<key>VoicemailPilotNumber</key>
	<string>+41794997979</string>
	<key>VVMIgnoresIntlDataRoaming</key>
	<false/>
	<key>StatusBarImages</key>
	<array>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>Swisscom</string>
			<key>DefaultImage</key>
			<string>Default_CARRIER_Swisscom.png</string>
			<key>FullScreenOpaqueImage</key>
			<string>FSO_CARRIER_Swisscom.png</string>
		</dict>
	</array>
	<key>VMSMFilterNumber</key>
	<string>+41794997979</string>
</dict>
</plist>
